[Unit]
Description=Camera start service invoked by socket traffic
StartLimitIntervalSec=0

[Service]
Type=simple
StandardInput=socket
EnvironmentFile=/etc/default/gstreamer-setup
ExecStartPre=
ExecStart=/usr/local/bin/gstreamer-start.sh
ExecStartPost=
ExecStop=
ExecReload=
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
