[Unit]
Description=GStreamer startup service
After=network.target
After=systemd-user-sessions.service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=
ExecStartPre=
ExecStart=/usr/local/bin/gstreamer-start.sh
ExecStartPost=
ExecStop=
ExecReload=
Restart=on-failure

[Install]
WantedBy=multi-user.target
