[Unit]
Description=Camera probe service using gstreamer pipeline
After=networking.service
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/etc/default/gstreamer-setup
ExecStartPre=
ExecStart=/usr/local/bin/gstreamer-camera-probe.sh
ExecStartPost=
ExecStop=
ExecReload=
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target