[Unit]
Description=GStreamer startup service
After=network.target
After=systemd-user-sessions.service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=
ExecStartPre=
ExecStart=/usr/local/bin/gstreamer-start.sh
ExecStartPost=
ExecStop=
ExecReload=/usr/bin/killall -2 gst-launch-1.0
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
