[Unit]
Description=Network watchdog autostart upon system boot
After=networking.service
After=network.target
After=systemd-user-sessions.service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/etc/default/network-watchdog-setup
ExecStartPre=
ExecStart=/usr/local/bin/network-watchdog.sh
ExecStartPost=
ExecStop=
ExecReload=
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

