[Unit]
Description=Update UAV latest status
After=networking.service
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/etc/default/mavproxy-setup
ExecStart=/usr/local/bin/update-uav-status.py ${LOCAL_PORT_UAVSTATUS} ${DEVICE_BAUD} --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
